<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"
  ng-app="agigenApp"
  ng-controller="menuCtrl"
  ng-class="{'menu-open': menuVisible2}"
  scroll-spy
  ng-keyup="menuKeyup($event)"
>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    Web Production
    
    &middot; Agigen
    
  </title>

  <script>
    if ("ActiveXObject" in window) {
      document.getElementsByTagName('html')[0].className += ' browser--ie';
    }

    if (/ip(ad|hone|od)/gi.test(navigator.userAgent)) {
      document.getElementsByTagName('html')[0].className += ' device--ios';
    }

    if (/firefox/gi.test(navigator.userAgent)) {
      document.getElementsByTagName('html')[0].className += ' browser--firefox';
    }
  </script>

  
  
  <link rel="stylesheet" href="/css/agigen.css?v=150223_1022">

  

  <link rel="shortcut icon" href="/img/utils/favicon.ico">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/utils/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="/img/utils/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/img/utils/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/utils/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/utils/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/utils/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/img/utils/mstile-144x144.png">

  <meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="fb:admins" content="562883652,1205209891">
<meta property="og:site_name" content="Agigen.se">
<meta name="twitter:site" content="@agigen">
<meta name="twitter:creator" content="@lendai">
<meta property="og:url" content="http://agigen.se/services/web-production/">





    
    <meta itemprop="name" content="Agigen - We make the web a better place">
    <meta property="og:title" content="Agigen - We make the web a better place">
    <meta name="twitter:title" content="Agigen - We make the web a better place">



    <meta itemprop="description" content="World class web production for ad- and media agencies around the world.">
    <meta name="description" content="World class web production for ad- and media agencies around the world.">
    <meta property="og:description" content="World class web production for ad- and media agencies around the world.">
    <meta name="twitter:description" content="World class web production for ad- and media agencies around the world.">



    
    <meta itemprop="image" content="http://agigen.se/img/utils/opengraph.jpg ">
    <meta property="og:image" content="http://agigen.se/img/utils/opengraph.jpg ">
    <meta name="twitter:image" content="http://agigen.se/img/utils/summary_card_twitter.jpg">









  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//agigen-slack-chat.appspot.com">

  <script type="text/javascript" charset="utf-8">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7546376-1']);
      _gaq.push(['_trackPageview']);
  </script>

  <script type="text/javascript" src="//use.typekit.net/orr5jqv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body
class="
page--web-production

  page--page
  page--services
  page--services--web-production

">
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- 

                      `://.
                    `+AAAAAo.
                  `+AAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
          `+AAAAAAAAAs/sAAAAAAAAAAAAAo.
        `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.
      `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.
    `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.
  `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.
 +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo`
.AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/
 /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo`
  `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.
    `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.
      `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
          `/AAAAAAAAAAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
                  `+AAAAAAAAAo.
                    `+AAAAAo.
                      `-::`
-->



<nav class="main-menu" ng-class="{'main-menu--expanded': menuVisible, 'main-menu--visible-content': menuVisible2}" ng-click="hideMenu($event)">
    <section class="main-menu__grid">
        <ul class="nav nav--stacked">
            
            
                
                <li>
                    <a class="main-menu__link main-menu__link--main" href="/">Home</a>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Services</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/services/web-production" class="main-menu__link main-menu__link--sublink main-menu__link--webprod"> Web Production </a>
                        </li>
                    
                        <li>
                        <a href="/services/product-development" class="main-menu__link main-menu__link--sublink main-menu__link--proddev"> Product development </a>
                        </li>
                    
                        <li>
                        <a href="/services/labs" class="main-menu__link main-menu__link--sublink main-menu__link--labs"> Agigen Labs </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Learn more</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/work/" class="main-menu__link main-menu__link--sublink main-menu__link--cases"> Case studies </a>
                        </li>
                    
                        <li>
                        <a href="/about/" class="main-menu__link main-menu__link--sublink main-menu__link--aboutus"> About us </a>
                        </li>
                    
                        <li>
                        <a href="/blog/" class="main-menu__link main-menu__link--sublink main-menu__link--blog"> Our diary </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Get in touch</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/contact/" class="main-menu__link main-menu__link--sublink main-menu__link--contactus"> Contact us </a>
                        </li>
                    
                    </ul>
                
                </li>
            
        </ul>
    </section>
</nav>

<div class="topbar-wrapper">
    <div class="topbar" ng-class="{'menu-expanded': menuVisible}" ng-style="{ 'padding-right': topbarCompensation }">
        <div class="container cf">
            <h1 class="topbar__title"><a href="/" title="Agigen.se">

                <svg class="color-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path  fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>

            </a></h1>
    


            <button class="topbar__menu-button" ng-click="toggleMenu()" ng-class="{'topbar__menu-button--active': menuVisible}">

                <div class="topbar__menu-button__inner"></div>
                <span class="accessibility">Menu</span>

            </button>


        </div>
    </div>
</div>

<header class="main-header">
    <div class="main-header__content">
        <div class="container text--light">

            

            <h1 class="main-header__title">Web Production</h1>

            

        </div>
    </div>
    
        <video width="1440" height="700" autoplay="autoplay" loop="loop" class="main-header__video">
            <source src="/video/bluevideo.mp4"  type="video/mp4">
        </video>
    
</header>

<div class="main-content">


<div class="content">
    <section class="section section--webprod-definition">
    <div class="section__content">
        <div class="container container--tight text--center">
            <h2 class="hidden">Our definition</h2>
            <p class="gamma flush--bottom">
                We create basically everything digital for you; websites, apps and interactive experiences. We have specialized in being the perfect fit for ad agencies with a need for digital expertise.
            </p>
        </div>
    </div>
</section>

<section class="section section--webprod-offer">
    <div class="section__content">
        <div class="container text--light">
            <div class="grid">
                <div class="grid__item lap-and-up-one-half">

                    <h2 class="gamma">Our offer</h2>
                    <p class="section__text">
                        We like it best when we're as involved as possible, but you can pick and choose where you want our help. We can either turn your psd:s into what you envisioned, or create a concept and design with you from scratch.
                    </p>
                    <p class="section__text">
                        Working by an agile approach we stay changeable and armed with our extensive knowledge of all things web we'll achieve your vision on time and within budget.
                    </p>

                </div><!--
                --><div class="grid__item lap-and-up-one-half">
                    <figure class="section--webprod-offer__illustration-wrapper">
                        <img src="/img/webprod/webproduction-imac.png" class="section--webprod-offer__illustration">
                        <div style="background-image: url(/img/webprod/webproduction-animation.gif)" class="section--webprod-offer__illustration__animation"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section--webprod-tools">
    <div class="section__content">
        <div class="container">
            <div class="grid">
                <div class="grid__item one-half palm-hidden illustration-wrapper">
                    <img src="/img/webprod/book-retina.gif" class="section--webprod-tools__illustration">
                </div><!--
                --><div class="grid__item lap-and-up-one-half">

                    <h2 class="section__title">Our tools</h2>
                    <p class="section__text">
                        Right now we mostly work with Python and PHP, Amazon EC2 and Google App Engine. HTML5, CSS3, and advanced Javascript is in our blood and we push all our pixels around in Adobe Photoshop.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<a class="case case--thin case--thin--build" href="/work/build-with-chrome/" title="Case study: Build with Chrome">
    <img src="/img/webprod/spaceman.png" class="spaceman">
    <div class="container">
        <h1 class="case__title">Google &amp; LEGO</h1>
        <p class="case__headline"><span class="palm-hidden">View case study –</span> Build with Chrome</p>
        <button class="desk-hidden btn btn">View case study</button>
        <div class="case__image-wrapper"><img src="/img/webprod/case-build.png" class="case__image" width="320"></div>
    </div>
</a>




<section class="section section--webprod-process webprod-process animate--in-view">
    <div class="container text--center">
        <img src="/img/webprod/cogs-retina.gif">

        <h2 class="epsilon">Case A-Z</h2>
        <h3 class="beta">Working with us explained</h3>
    </div>
    <div class="container">

        <figure class="webprod-process__timeline">


            <figcaption>

                <article class="webprod-process__step webprod-process__step--1 animate--in-view">
                    <p>Do you have an idea but you're not sure if it's even possible to realize? These are the projects where we excel. We'll consider your idea; how to make it real and even better, then offer you a budget and a time plan.</p>
                </article>

                <div class="webprod-process__illustration webprod-process__illustration--1 animate--in-view">
                    <img src="/img/webprod/dot.svg" width="44" height="44" class="webprod-process__illustration__dot">
                    <div class="webprod-process__illustration__line webprod-process__illustration__line--1"></div>
                    <div class="webprod-process__illustration__line webprod-process__illustration__line--2"></div>
                    <div class="webprod-process__illustration__line webprod-process__illustration__line--3"></div>
                </div>

                <article class="webprod-process__step webprod-process__step--2 webprod-process__step--left-aligned animate--in-view">
                    <p>If you want, we'll do UX and concept design together with you, or if you'd rather we just produce, we'll turn your designs to code. Striving to make the best of everything we'll make suggestions on potential improvements.</p>
                </article>

                <div class="webprod-process__illustration webprod-process__illustration--between-points animate--in-view">
                    <div class="webprod-process__illustration__line"></div>
                </div>

                <article class="webprod-process__step webprod-process__step--3 webprod-process__step--left-aligned animate--in-view">
                    <p>During production, we keep in close contact with you; keeping everyone up to speed. When changes are requested we reconsider design and user experience, which makes design as much part of our production as coding is.</p>
                </article>

                <div class="webprod-process__illustration webprod-process__illustration--between-points animate--in-view">
                    <div class="webprod-process__illustration__line"></div>
                </div>

                <article class="webprod-process__step webprod-process__step--4 webprod-process__step--left-aligned animate--in-view">
                    <p>Tweaking and testing is a constant part of our process, but as the project nears the finish line we of course invest extra into those efforts.</p>
                </article>

                <div class="webprod-process__illustration webprod-process__illustration--between-points animate--in-view">
                    <div class="webprod-process__illustration__line"></div>
                </div>

                <article class="webprod-process__step webprod-process__step--5 webprod-process__step--left-aligned animate--in-view">
                    <p>We love it when we have some time left over to lavish affection on a product; fitting it with that extra polish and flair.</p>
                </article>

                <div class="webprod-process__illustration webprod-process__illustration--6 animate--in-view">
                    <div class="webprod-process__illustration__line webprod-process__illustration__line--1"></div>
                    <div class="webprod-process__illustration__line webprod-process__illustration__line--2"></div>
                    <img src="/img/webprod/dot.svg" width="44" height="44" class="webprod-process__illustration__dot">
                </div>

                <article class="webprod-process__step webprod-process__step--6 animate--in-view">
                    <p>Last step: release. Bring out the champagne, kick off your shoes and enjoy the happy faces.</p>
                    <p><img src="/img/webprod/champagne.gif" alt="Champagne!!!" class="webprod-process__champagne"></p>
                </article>
            </figcaption>

        </figure>

    </div>
</section>

<section class="section section--contact section--webprod-contact">
    <div class="section__content">
        <div class="container text--center">
            <h2 class="section--contact__content">We have helped companies like Google, SJ and Carlsberg. We’d love to help you too.</h2>
            <a href="/contact/" class="btn">Get in touch</a>
        </div>
    </div>
</section>

<section class="section section--webprod-case section--webprod-case--samsung">
        <div class="container portable-text--center">
            <div class="grid grid--vertically-centered">
                <div class="grid__item desk-one-half">
                    <h3 class="epsilon">Youneedtoseethisapp.com</h3>
                    <h2 class="gamma">Samsung Tab S</h2>

                    <p class="delta portable-text-wrapper">Displaying gigapixel images on Samsung's new AMOLED screen. Can you spot all the details?</p>

                    <a href="/work/samsung-youneedtoseethis/" class="btn flush--left"><span class="palm-hidden">View </span>case study</a>
                    <a class="btn" href="https://www.youneedtoseethisapp.com" target="_blank">Visit website</a>
                </div><!--
                --><div class="grid__item desk-one-half text--right portable-text--center">
                    <a href="/work/samsung-youneedtoseethis/"><img src="/img/webprod/webproduction-samsungcase.png" class="section--webprod-case__illustration section--webprod-case__illustration--from-right section--webprod-case--samsung__illustration animate--in-view"></a>
                </div>
            </div><!-- .grid -->
        </div><!-- .container -->
</section>

<section class="section section--webprod-case section--webprod-case--sj">
        <div class="container">
            <div class="grid grid--rev grid--vertically-centered">
                <div class="grid__item desk-one-half portable-text--center">
                    <h3 class="epsilon">SJ AB</h3>
                    <h2 class="gamma">Beta SJ.se</h2>

                    <p class="delta portable-text-wrapper">Helping Swedish Railways to update their site, giving them a modern site with focus on easy accessibility.</p>

                    <a href="/work/beta-sj-se" class="btn flush--left"><span class="palm-hidden">View </span>case study</a>

                    <a class="btn" href="http://beta.sj.se/" target="_blank">Visit website</a>
                </div><!--
                --><div class="grid__item desk-one-half portable-text--center">
                    <img src="/img/webprod/webproduction-sjcase.png" class="section--webprod-case__illustration section--webprod-case--sj__illustration animate--in-view">
                </div>
            </div><!-- .grid -->
        </div><!-- .container -->
</section>


<section class="section section--webprod-case section--webprod-case--carlsberg">
        <div class="container portable-text--center">
            <div class="grid grid--vertically-centered">
                <div class="grid__item desk-one-half">
                    <h3 class="epsilon">Carlsberg</h3>
                    <h2 class="gamma">Where's the Party</h2>

                    <p class="delta portable-text-wrapper">An interactive music video for Axwell with a competition layer hidden in the experience. Will you follow the beat?</p>

                    <a href="/work/carlsberg-where-is-the-party/" class="btn flush--left"><span class="palm-hidden">View </span>case study</a>
                </div><!--
                --><div class="grid__item desk-one-half text--right portable-text--center palm-hidden">
                    <img src="/img/webprod/webproduction-carlsbergcase.png" class="section--webprod-case__illustration section--webprod-case__illustration--from-right section--webprod-case--carlsberg__illustration animate--in-view">
                </div>
            </div><!-- .grid -->
        </div><!-- .container -->
</section>

<section class="section read-more">
    <div class="container">
        <h3 class="read-more__title">Still not convinced?</h3>
        <p class="read-more__content">
            Read more <a href="/work/">case studies</a> or <br class="lap-hidden">learn more <a href="/about/">about us</a>
        </p>
    </div>
</section>

</div>

</div>
<footer class="main-footer">
    <div class="container">
        <h1 class="main-footer__title hidden">
            <a href="/" title="Agigen">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>
            </a>
        </h1>

        <nav class="main-footer__links main-footer__links--left">
            <a href="https://www.facebook.com/agigen" target="_blank" class="main-footer__link main-footer__link--facebook">
                <span class="hidden">Facebook</span>
                <img src="/img/icons/icon_fb.svg" alt="" width="44" height="22">
            </a>
            <a href="https://github.com/agigen" target="_blank" class="main-footer__link main-footer__link--github">
                <span class="hidden">Github</span>
                <img src="/img/icons/icon_github.svg" alt="" width="44" height="22">
            </a>
            <a href="https://dribbble.com/agigen" target="_blank" class="main-footer__link main-footer__link--dribble">
                <span class="hidden">Dribbble</span>
                <img src="/img/icons/icon_dribbble.svg" alt="" width="44" height="22">
            </a>
        </nav>

        <nav class="main-footer__links main-footer__links--right">
            <a href="/contact" class="main-footer__link main-footer__link--bordered">Contact &amp; Map</a>
        </nav>
    </div>
</footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.js"></script>
    <script src="//agigen-slack-chat.appspot.com/_ah/channel/jsapi"></script>
    <script src="//agigen-slack-chat.appspot.com/static/chat.js"></script>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="/js/agigen.jquery-in-view.js"></script>
    <script src="/js/agigen.js?v=150223_1022"></script>
    </body>
</html>

