<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"
  ng-app="agigenApp"
  ng-controller="menuCtrl"
  ng-class="{'menu-open': menuVisible2}"
  scroll-spy
  ng-keyup="menuKeyup($event)"
>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    ACO Moist
    
    &middot; Agigen
    
  </title>

  <script>
    if ("ActiveXObject" in window) {
      document.getElementsByTagName('html')[0].className += ' browser--ie';
    }

    if (/ip(ad|hone|od)/gi.test(navigator.userAgent)) {
      document.getElementsByTagName('html')[0].className += ' device--ios';
    }

    if (/firefox/gi.test(navigator.userAgent)) {
      document.getElementsByTagName('html')[0].className += ' browser--firefox';
    }
  </script>

  
  
  <link rel="stylesheet" href="/css/agigen.css?v=150818_1557">

  

  <link rel="shortcut icon" href="/img/utils/favicon.ico">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/utils/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="/img/utils/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/img/utils/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/utils/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/utils/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/utils/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/img/utils/mstile-144x144.png">

  <meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="fb:admins" content="562883652,1205209891">
<meta property="og:site_name" content="Agigen.se">
<meta name="twitter:site" content="@agigen">
<meta name="twitter:creator" content="@lendai">
<meta property="og:url" content="http://agigen.se/work/aco-moist/">





    <meta itemprop="name" content="Agigen Case Study - ACO Moist">
    <meta property="og:title" content="Agigen Case Study - ACO Moist">
    <meta name="twitter:title" content="Agigen Case Study - ACO Moist">



    <meta itemprop="description" content="A cutting edge commercial using eye detection in the browser to give every user a unique experience.">
    <meta name="description" content="A cutting edge commercial using eye detection in the browser to give every user a unique experience.">
    <meta property="og:description" content="A cutting edge commercial using eye detection in the browser to give every user a unique experience.">
    <meta name="twitter:description" content="A cutting edge commercial using eye detection in the browser to give every user a unique experience.">



    
    <meta itemprop="image" content="http://agigen.se/img/utils/opengraph.jpg ">
    <meta property="og:image" content="http://agigen.se/img/utils/opengraph.jpg ">
    <meta name="twitter:image" content="http://agigen.se/img/utils/summary_card_twitter.jpg">









  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//agigen-slack-chat.appspot.com">

  <script type="text/javascript" charset="utf-8">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7546376-1']);
      _gaq.push(['_trackPageview']);
  </script>

  <script type="text/javascript" src="//use.typekit.net/orr5jqv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body
class="
page--aco-moist

  page--page
  page--work
  page--work--aco-moist

">
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- 

                      `://.
                    `+AAAAAo.
                  `+AAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
          `+AAAAAAAAAs/sAAAAAAAAAAAAAo.
        `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.
      `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.
    `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.
  `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.
 +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo`
.AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/
 /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo`
  `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.
    `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.
      `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
          `/AAAAAAAAAAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
                  `+AAAAAAAAAo.
                    `+AAAAAo.
                      `-::`
-->



<nav class="main-menu" ng-class="{'main-menu--expanded': menuVisible, 'main-menu--visible-content': menuVisible2}" ng-click="hideMenu($event)">
    <section class="main-menu__grid">
        <ul class="nav nav--stacked">
            
            
                
                <li>
                    <a class="main-menu__link main-menu__link--main" href="/">Home</a>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Services</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/services/web-production" class="main-menu__link main-menu__link--sublink main-menu__link--webprod"> Web Production </a>
                        </li>
                    
                        <li>
                        <a href="/services/product-development" class="main-menu__link main-menu__link--sublink main-menu__link--proddev"> Product development </a>
                        </li>
                    
                        <li>
                        <a href="/services/labs" class="main-menu__link main-menu__link--sublink main-menu__link--labs"> Agigen Labs </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Learn more</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/work/" class="main-menu__link main-menu__link--sublink main-menu__link--cases"> Case studies </a>
                        </li>
                    
                        <li>
                        <a href="/about/" class="main-menu__link main-menu__link--sublink main-menu__link--aboutus"> About us </a>
                        </li>
                    
                        <li>
                        <a href="/blog/" class="main-menu__link main-menu__link--sublink main-menu__link--blog"> Our diary </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Get in touch</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/contact/" class="main-menu__link main-menu__link--sublink main-menu__link--contactus"> Contact us </a>
                        </li>
                    
                    </ul>
                
                </li>
            
        </ul>
    </section>
</nav>

<div class="topbar-wrapper">
    <div class="topbar" ng-class="{'menu-expanded': menuVisible}" ng-style="{ 'padding-right': topbarCompensation }">
        <div class="container cf">
            <h1 class="topbar__title"><a href="/" title="Agigen.se">

                <svg class="color-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path  fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>

            </a></h1>
    


            <button class="topbar__menu-button" ng-click="toggleMenu()" ng-class="{'topbar__menu-button--active': menuVisible}">

                <div class="topbar__menu-button__inner"></div>
                <span class="accessibility">Menu</span>

            </button>


        </div>
    </div>
</div>

<header class="main-header">
    <div class="main-header__content">
        <div class="container text--light">

            
                <h2 class="main-header__pretitle">Create your own commercial - the biometric way</h2>
            

            <h1 class="main-header__title">ACO Moist</h1>

            

        </div>
    </div>
    
        <video width="1440" height="700" autoplay="autoplay" loop="loop" class="main-header__video">
            <source src="/video/acovideo.mp4"  type="video/mp4">
            <source src="/video/acovideo.mp4"  type="video/webm">
        </video>
    
</header>

<div class="main-content">


<div class="content content--page-work">
    <div class="container">
    <img src="/img/work/case/aco/header_macbook.png" class="work__header-image">
</div>

<section class="work__tldr">
    <div class="container container--tight">
        <h3 class="work__tldr__pretitle">What it is</h3>
        <h2>
            An interactive experience that makes the user cut their own commercial, using the webcam to detect whenever they blink.
        </h2>
        <a href="https://www.threefacesofmoist.com" class="btn btn--large">Visit experience</a>
    </div>
</section>

<section class="work__section work__section--three-points work__section--aco--three-points">
    <div class="container">

        <div class="grid">
            <div class="grid__item lap-and-up-one-third">
                <strong>The mission</strong><br>
                Get everyone up to date with ACOs new brand and products.
                </div><!--
            --><div class="grid__item lap-and-up-one-third">
                <strong>Face recognition</strong><br>
                Let the user use their eyes to interact with the experience.
            </div><!--
            --><div class="grid__item lap-and-up-one-third hard--bottom">
                <strong>Localization</strong><br>
                Communicate the same experience for two brands and in four languages.
            </div>
        </div>

    </div>
</section>



<section class="container container--tight work__section hard--bottom">
    <h2>Background</h2>

    <p>ACO, a Nordic skincare brand, recently made a complete makeover of their brand to focus more on beauty products and skin care. DDB Stockholm contacted us with an idea that revolved around Moisture. As ACO’s products moisturize the skin, the blink moisturizes your eyes. That was the starting point for this project.</p>

    <p>Three videos were created with similar camera movements but with different shots. One revolved around the feeling of moisture, one revolved around skin and one focused on the product.</p>
</section>


<div class="container ">

    <div class="grid">
        <div class="grid__item lap-and-up-one-third text--center">

            <video width="480" height="270" autoplay="autoplay" loop="loop" poster="/img/work/case/aco/videos/moist.jpg" class="aco-case-video">
                <source src="/img/work/case/aco/videos/moist.mp4" type="video/mp4">
                <source src="/img/work/case/aco/videos/moist.webm" type="video/webm">
            </video>
            <span class="epsilon">The Moisture</span>

            </div><!--
        --><div class="grid__item lap-and-up-one-third text--center">

            <video width="480" height="270" autoplay="autoplay" loop="loop" poster="/img/work/case/aco/videos/skin.jpg" class="aco-case-video">
                <source src="/img/work/case/aco/videos/skin.mp4" type="video/mp4">
                <source src="/img/work/case/aco/videos/skin.webm" type="video/webm">
            </video>

            <span class="epsilon">The Skin</span>

        </div><!--
        --><div class="grid__item lap-and-up-one-third text--center">

            <video width="480" height="270" autoplay="autoplay" loop="loop" poster="/img/work/case/aco/videos/product.jpg" class="aco-case-video">
                <source src="/img/work/case/aco/videos/product.mp4" type="video/mp4">
                <source src="/img/work/case/aco/videos/product.webm" type="video/webm">
            </video>

            <span class="epsilon">The Product</span>

        </div>
    </div>
</div>


<section class="container container--tight work__section">
    <p>When the user blinks we make a cut to another video, and that way every visitor’s experience of the new ACO commercial will be a completely different one. The number of possibilites are astonishing, with 4,724*10<sup>882</sup> possible variations of the video.</p>

    <p class="text--center" style="line-height: 2">
        <strong>
            3 possible videos every frame <sup>(25 frames * 74 sec)</sup><br>
            3<sup>25*74</sup> &asymp; 4,724*10<sup>882</sup> possibilites
        </strong>
    </p>
</section>


<div class="aco--light-blue-bg">
    <section class="container work__section">
        <h2 class="text--center">How it works</h2>

        <ol class="aco-how-it-works three-quarters">
            <li>
                <div class="grid grid--rev"><div class="grid__item lap-and-up-one-half">

                    <img src="/img/work/case/aco/howitworks_1.png">


                </div><div class="grid__item lap-and-up-one-half">

                    <aside class="aco-how-it-works__number">1</aside>
                    <p>After entering the experience, the user is prompted to engage in a physical manner by allowing the browser to gain access to the camera of the computer.</p>

                </div></div>
            </li>
            <li>
                <div class="grid"><div class="grid__item lap-and-up-one-half">

                    <img src="/img/work/case/aco/howitworks_2.png">

                </div><div class="grid__item lap-and-up-one-half">

                    <aside class="aco-how-it-works__number">2</aside>
                    <p>Once the camera has been engaged and the application has access to it the scan for the users eyes begin immediately.
                    </p>

                </div></div>
            </li>
            <li>
                <div class="grid grid--rev"><div class="grid__item lap-and-up-one-half">

                    <img src="/img/work/case/aco/howitworks_3.png">

                </div><div class="grid__item lap-and-up-one-half">

                    <aside class="aco-how-it-works__number">3</aside>
                    <p>This is where the fun begins. Through careful coding and countless hours of tweaking the camera we present the user a custom commercial, cut in real time based on when the user blinks.</p>

                </div></div>
            </li>
        </ol>
    </section>
</div>

<section class="aco-test text--light text--center">
    <div class="work__section container">
        <h2>Try it out</h2>
        <div class="palm-hidden">
            <iframe src="//agigen-aco-moist.appspot.com" width="100%" height="335" seamless="seamless" scrolling="no" class="aco-test__frame"></iframe>
        </div>

        <p class="text--center aco-test__disclaimer container container--tight">
            <span class="palm-hidden">Live camera not working?</span>
            <span class="lap-and-up-hidden">Browser not supported</span>


            <br>
            This demo requires a webcam and a desktop browser with native webcam support.<br>
            <img src="/img/work/case/aco/chrome_logo.png" alt="Google Chrome logo">

        </p>

    </div>
</section>

<section class="container container--tight work__section">
    <h2>Web Workers</h2>
    <p>A quite old technology that we never really had the chance to play around with in depth are <a href="http://en.wikipedia.org/wiki/Web_worker" target="_blank">web workers</a>. Web workers are basically threading in Javascript. In this case we used it to take the heavy CPU load off the main thread that renders the UI.</p>

    <p>The site runs a main thread, and two web workers. One worker handles the face detection; finding a square on the webcam canvas that contains your face. The other worker searches within that square to find the area where your eyes currently are, and communicates that back to the UI thread, which detects the actual blinks.</p>

    <p>The face and eye recognition are the most expensive algorithms, and the blink detection is very cheap in comparison. When we started the project we were thinking about putting the blink detection in it’s own thread, but it was deemed unnecessary.</p>

    <img src="/img/work/case/aco/webworkers.png" class="soft--top img--center">

</section>

<div class="aco--light-blue-bg">
    <section class="container container--tight work__section">
        <h2>Algorithm</h2>
        <p>The algorithm we used for the face and eye tracking is the <a href="http://en.wikipedia.org/wiki/Viola%E2%80%93Jones_object_detection_framework" target="_blank">Viola-Jones</a> object detection framework, that’s also used in <a href="http://opencv.org/" target="_blank">OpenCV</a> which we used in early testing. We took a great deal of inspiration from <a href="http://trackingjs.com/" target="_blank">tracking.js</a> and their implementation, but wrote most of the code to make it work with web workers.</p>
    </section>
</div>

<section class="container container--tight work__section hard--bottom">

    <div class="grid"><div class="grid__item lap-and-up-one-half">

        <div class="aco-card aco-card--youtube">
            <h2>Youtube Gadget</h2>
            <p>ACO Moist was also the first project in which we developed inside a <a href="https://support.google.com/youtube/answer/1727240?hl=en" target="_blank">Youtube Gadget</a>, a custom tab available for Youtube partners. The development and functionality available is pretty similar to those of Facebook apps.</p>
        </div>

    </div><div class="grid__item lap-and-up-one-half">

        <div class="aco-card aco-card--localization">
            <h2>Localization</h2>
            <p>The site is available in four languages; English, Swedish, Norwegian and Finnish - we’re bloody excellent at localization now.</p>
            <img src="/img/work/case/aco/localization.png" class="three-quarters img--center" >
        </div>

    </div></div>
</section>

<section class="container container--tight work__section hard--bottom">
    <h2>Alternative versions</h2>

    <p>Since the <a href="http://caniuse.com/#feat=stream" target="_blank">getUserMedia API isn’t available</a> in Safari and Internet Explorer we had to come up with another solution for those two browsers. The client was adamant that it work in all browsers, and our only option was Flash, something that we normally don’t do so we were in a bit of a conundrum. With just a few hours till the whole project was taken somewhere else we got a tip about a guy who joined up with our team. It was a great collaboration.</p>

    <p>We also had to create some fallback solution for those who didn’t want to allow access to their webcam or didn’t have one. We used the letter ‘B’ for blink to trigger the swaps between films.</p>

    <p>And the poor sods who just couldn’t handle three videos at once at least got a view of the final cut commercial.</p>
</section>

<section class="container container--tight work__section">
    <h2>Afterwards</h2>
    <p>The site has just been launched. We’ll update you later on the success.</p>
</section>

<section class="section section--center-content work__section work__section--grandfinale work__section--aco--grandfinale">
    <div class="section__content">
        <div class="container">
            <div class="work__section--grandfinale__copy text--left palm-text--center lap-and-up-two-thirds">During development a cat accidentally sat in front of the blink detection. <br><span class="text--dark">It worked =^.^=</span></div>
        </div>
    </div>
</section>



    <section class="section section--start-contact">
        <div class="container">
            <div class="epsilon">Sound awesome?</div>
            <h3 class="alpha">Get in touch</h3>

            <div class="grid">
    <div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label epsilon contactways__label--left">E-mail</dt>
            <dd class="contactways__action gamma contactways__action--left"><a href="mailto:hello@agigen.se">hello@agigen.se</a></dd>

            <dt class="contactways__label epsilon contactways__label--left">Address</dt>
            <dd class="contactways__action gamma contactways__action--left">
                <a href="https://maps.google.com/maps?t=m&amp;q=Kaptensgatan+6%2C+Stockholm%2C+Sverige" target="_blank">Kaptensgatan 6</a>
                <div class="lap-and-up-hidden">
                    114 57 Stockholm
                </div>
            </dd>
        </dl>
    </div><div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label epsilon">Call</dt>
            <dd class="contactways__action gamma"><a href="tel:+468201337">+46 (0)8 20 1337 </a></dd>

            <dt class="contactways__label epsilon palm-hidden">Zippity-zip</dt>
            <dd class="contactways__action gamma palm-hidden">114 57 Stockholm</dd>
        </dl>
    </div>
</div>


        </div>
    </section>

</div>



</div>
<footer class="main-footer">
    <div class="container">
        <h1 class="main-footer__title hidden">
            <a href="/" title="Agigen">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>
            </a>
        </h1>

        <nav class="main-footer__links main-footer__links--left">
            <a href="https://www.facebook.com/agigen" target="_blank" class="main-footer__link main-footer__link--facebook">
                <span class="hidden">Facebook</span>
                <img src="/img/icons/icon_fb.svg" alt="" width="44" height="22">
            </a>
            <a href="https://github.com/agigen" target="_blank" class="main-footer__link main-footer__link--github">
                <span class="hidden">Github</span>
                <img src="/img/icons/icon_github.svg" alt="" width="44" height="22">
            </a>
            <a href="https://dribbble.com/agigen" target="_blank" class="main-footer__link main-footer__link--dribble">
                <span class="hidden">Dribbble</span>
                <img src="/img/icons/icon_dribbble.svg" alt="" width="44" height="22">
            </a>
        </nav>

        <nav class="main-footer__links main-footer__links--right">
            <a href="/contact" class="main-footer__link main-footer__link--bordered">Contact &amp; Map</a>
        </nav>
    </div>
</footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.js"></script>
    <script src="//agigen-slack-chat.appspot.com/_ah/channel/jsapi"></script>
    <script src="//agigen-slack-chat.appspot.com/static/chat.js"></script>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="/js/agigen.jquery-in-view.js"></script>
    <script src="/js/agigen.js?v=150818_1557"></script>
    </body>
</html>

