<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"
  ng-app="agigenApp"
  ng-controller="menuCtrl"
  ng-class="{'menu-open': menuVisible2}"
  scroll-spy
  ng-keyup="menuKeyup($event)"
>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    Go&amp;Get
    
    &middot; Agigen
    
  </title>





  <script>
    if ("ActiveXObject" in window) {
      document.getElementsByTagName('html')[0].className += ' browser-ie';
    }
  </script>

  
  
  <link rel="stylesheet" href="/css/agigen.css">

  

  <link rel="shortcut icon" href="/img/utils/favicon.ico">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/utils/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="/img/utils/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/img/utils/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/utils/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/utils/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/utils/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/img/utils/mstile-144x144.png">

  
  <link href="" rel="alternate" type="application/rss+xml" title="Agigen">


  <meta property="og:type" content="website">
<meta name="twitter:card" content="summary">
<meta property="fb:admins" content="562883652,1205209891">

<meta property="og:site_name" content="Agigen.se">
<meta name="twitter:site" content="@agigen">
<meta name="twitter:creator" content="@lendai">
<meta property="og:url" content="http://agigen.se/work/mcdonalds-go-and-get/">





<meta itemprop="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
<meta name="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
<meta property="og:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
<meta name="twitter:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">

<meta itemprop="image" content="http://agigen.se/img/share/opengraph.jpg ">
<meta property="og:image" content="http://agigen.se/img/share/opengraph.jpg ">
<meta name="twitter:image" content="http://agigen.se/img/share/opengraph.jpg ">

<meta itemprop="name" content="Agigen - Agile Generation AB">
<meta property="og:title" content="Agigen - Agile Generation AB">
<meta name="twitter:title" content="Agigen - Agile Generation AB">


  <link rel="dns-prefetch" href="//ajax.googleapis.com">
  <link rel="dns-prefetch" href="//agigen-slack-chat.appspot.com">

  <script type="text/javascript" charset="utf-8">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7546376-1']);
      _gaq.push(['_trackPageview']);
  </script>

  <script type="text/javascript" src="//use.typekit.net/orr5jqv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body
class="
page--goget

  page--page
  page--work
  page--work--goget

">
<script type="text/javascript">
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- 

                      `://.
                    `+AAAAAo.
                  `+AAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
          `+AAAAAAAAAs/sAAAAAAAAAAAAAo.
        `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.
      `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.
    `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.
  `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.
 +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo`
.AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/
 /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo`
  `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.
    `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.
      `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
          `/AAAAAAAAAAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
                  `+AAAAAAAAAo.
                    `+AAAAAo.
                      `-::`
-->



<nav class="main-menu" ng-class="{'main-menu--expanded': menuVisible, 'main-menu--visible-content': menuVisible2}" ng-click="hideMenu($event)">
    <section class="main-menu__grid">
        <ul class="nav nav--stacked">
            
            
                
                <li>
                    <a class="main-menu__link main-menu__link--main" href="/">Home</a>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Services</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/services/web-production" class="main-menu__link main-menu__link--sublink main-menu__link--webprod"> Web Production </a>
                        </li>
                    
                        <li>
                        <a href="/services/product-development" class="main-menu__link main-menu__link--sublink main-menu__link--proddev"> Product development </a>
                        </li>
                    
                        <li>
                        <a href="/services/labs" class="main-menu__link main-menu__link--sublink main-menu__link--labs"> Agigen Labs </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Learn more</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/work/" class="main-menu__link main-menu__link--sublink main-menu__link--cases"> Case studies </a>
                        </li>
                    
                        <li>
                        <a href="/about/" class="main-menu__link main-menu__link--sublink main-menu__link--aboutus"> About us </a>
                        </li>
                    
                        <li>
                        <a href="/blog/" class="main-menu__link main-menu__link--sublink main-menu__link--blog"> Our diary </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Get in touch</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/contact/" class="main-menu__link main-menu__link--sublink main-menu__link--contactus"> Contact us </a>
                        </li>
                    
                    </ul>
                
                </li>
            
        </ul>
    </section>
</nav>

<div class="topbar" ng-class="{'menu-expanded': menuVisible}">
    <div class="container">
        <h1 class="topbar__title"><a href="/" title="Agigen.se">

            <svg class="color-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                <path  fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                    C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
            </svg>

        </a></h1>



        <button class="topbar__menu-button" ng-click="toggleMenu()" ng-class="{'topbar__menu-button--active': menuVisible}">

            <div class="topbar__menu-button__inner"></div>
            <span class="accessibility">Menu</span>

        </button>


    </div>
</div>


<header class="main-header">
    <div class="main-header__content">
        <div class="container text--light">

            
                <h2 class="main-header__pretitle">McDonalds&#39;s</h2>
            

            <h1 class="main-header__title">Go&amp;Get</h1>

            

        </div>
    </div>
    
</header>

<div class="main-content">


<div class="content content--page-work">
    <img src="/img/work/case/mcdonalds/topbild-retina.png" class="work__header-image work__header-image--mcdonalds">

<section class="work__tldr">
    <div class="container">
        <h3 class="work__tldr__pretitle">What it is</h3>
        <h2 class="text-wrapper">
            A giveaway campaign with a digital twist for McDonald's McWRAP.
        </h2>
        <a href="https://beta.sj.se" class="btn btn--large" target="_blank">Launch site</a>
    </div>
</section>

<section class="work__section work__section--three-points work__section--mcdonalds--three-points">
    <div class="container">
        <div class="grid">
            <div class="grid__item lap-and-up-one-third">
                <strong>Integrated</strong><br>
                The whole campaign ran inside of the McDonalds app, and the server architecture was built on Google App Engine.
            </div><!--
            --><div class="grid__item lap-and-up-one-third">
                <strong>The mission</strong><br>
                Grab that digital wrap! Bring it to your nearest McDonalds and trade it for a real McWrap.
            </div><!--
            --><div class="grid__item lap-and-up-one-third">
                <strong>Our partners</strong><br>
                We worked together with Apegroup and DDB Stockholm on the campaign.
            </div>
        </div>
    </div>
</section>


<section class="work__section--awards">
    <div class="container">
        <figure>
            <img src="/img/awards/guldmobilen.svg" width="296" height="140" alt="Guldmobilen"><br>
            <figcaption>
                <a href="http://www.mobil.se/business/guldmobilen-2012-h-r-r-rets-alla-vinnare" class="uppercase">
                    Best mobile marketing 2012
                </a>
            </figcaption>
        </figure>
    </div>
</section>


<section class="work__section container container--tight">
    <h2>Background</h2>
    <p>
        When McDonalds released their new McWrap we got to work with Apegroup and DDB on the campaign. The tagline for the campaign was "Too good to put down" and the app revolved around that concept. The user had to keep a finger pointed at the screen while getting to the closest McDonalds, to upon arrival be rewarded with a free McWrap.
    </p>
</section>


<section work-video="mcdonalds" embed-youtube="5Dm9Uoro0OQ" ng-cloak ng-click="play()">
    <div class="container container--tight text--light text--center">
        <h3 class="epsilon">Hitta en McWrap</h3>
        <div class="work__divider__title">Watch the video</div>
    </div>
</section>

<section class="container container--tight work__section">
    <h2>What we have done</h2>
    <h3>
        We created the backend API that the iPhone and Android app communicated with, as well as the administrative interface for McDonald's where they could schedule drops of wraps, and follow the activity in real time. The system also communicated with McDonalds API which stored all data about their shops, coordinates and such.
    </p>
    <p>
        The system was built upon the Google App Engine infrastructure to handle all the scaling challenges with such a high profile brand as McDonalds.
    </p>
    <p>The system also exposed some metrics, for example how many wraps that were close to a specific store, that were shown to the customers on the stores' displays.</p>
</section>

<section class="section hard--top">
    <div class="grid text--center">
        <div class="grid__item one-quarter lap-five-twelfths palm-nine-twelfths">
            <div screen-carousel="/img/work/case/mcdonalds/screenshot1.jpg,/img/work/case/mcdonalds/screenshot2.jpg,/img/work/case/mcdonalds/screenshot3.jpg,/img/work/case/mcdonalds/screenshot4.jpg" screen-type="mobile"></div>
        </div>
    </div>
</section>

<section class="container container--tight work__section">
    <h2>International adaptions</h2>
    <p>
        After the success with Go&Get for McWrap in Sweden an international release wasn't far behind. The same concept was used in Norway but with free coffee instead of wraps.
    </p>
</section>

<section class="section work__section work__section--grandfinale work__section--mcdonalds--grandfinale">
    <div class="section__content">
        <div class="container">
            <h3 class="work__section--grandfinale__header">Interesting trivia</h3>
            <div class="work__section--grandfinale__copy">
                McDonald's sells more than 75 hamburgers every second
            </div>
        </div>
    </div>
</section>



    <section class="section section--start-contact">
        <div class="container">
            <p class="section--start__ingress section--start-contact__ingress ">Want to make something like this?</p>
            <h3 class="alpha">Get in touch</h3>

            <div class="grid">
    <div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label contactways__label--left">E-mail</dt>
            <dd class="contactways__action contactways__action--left"><a href="mailto:hello@agigen.se">hello@agigen.se</a></dd>

            <dt class="contactways__label contactways__label--left">Address</dt>
            <dd class="contactways__action contactways__action--left"><a href="https://maps.google.com/maps?t=m&amp;q=Kaptensgatan+6%2C+Stockholm%2C+Sverige" target="_blank">Kaptensgatan 6</a></dd>
        </dl>
    </div><div class="grid__item lap-and-up-one-half">
        <dl class="contactways">
            <dt class="contactways__label">Call</dt>
            <dd class="contactways__action"><a href="tel:+468201337">+46 (0)8 20 1337 </a></dd>

            <dt class="contactways__label">Zippity-zip</dt>
            <dd class="contactways__action">114 57 Stockholm</dd>
        </dl>
    </div>
</div>


        </div>
    </section>

</div>



</div>
<footer class="main-footer">
    <div class="container">
        <h1 class="main-footer__title">
            <a href="/" title="Agigen">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>
            </a>
        </h1>
        <nav class="main-footer__links">
            <a href="https://www.facebook.com/agigen" target="_blank" class="main-footer__link">Facebook</a>
            <a href="https://www.linkedin.com/company/640656" target="_blank" class="main-footer__link">LinkedIn</a>
            <a href="/contact" class="main-footer__link main-footer__link--bordered">Contact us</a>
        </nav>
    </div>
</footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular-touch.js"></script>
    <script src="//agigen-slack-chat.appspot.com/_ah/channel/jsapi"></script>
    <script src="//agigen-slack-chat.appspot.com/static/chat.js"></script>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="/js/agigen.jquery-in-view.js"></script>
    <script src="/js/agigen.js"></script>
    </body>
</html>

