<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us"
  ng-app="agigenApp"
  ng-controller="menuCtrl"
  ng-class="{'menu-open': menuVisible}"
  scroll-spy
>
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> Work &middot; Agigen </title>

  <script>
    if ("ActiveXObject" in window) {
      document.getElementsByTagName('html')[0].className += ' browser-ie';
    }
  </script>

  
  
  <link rel="stylesheet" href="/css/agigen.css">

  

  <link rel="shortcut icon" href="/img/utils/favicon.ico">

  <link rel="apple-touch-icon" sizes="152x152" href="/img/utils/apple-touch-icon.png">

  <link rel="icon" type="image/png" href="/img/utils/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/img/utils/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/img/utils/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/img/utils/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/img/utils/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="msapplication-TileImage" content="/img/utils/mstile-144x144.png">

  
  <link href="" rel="alternate" type="application/rss+xml" title="Agigen">

  <meta name="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
  <meta itemprop="name" content="Agigen - Agile Generation AB">
  <meta itemprop="description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">

  <meta itemprop="image" content="http://agigen.se/img/share/opengraph.jpg">
  <meta property="og:image" content="http://agigen.se/img/share/opengraph.jpg">
  <meta name="twitter:image" content="http://agigen.se/img/share/opengraph.jpg">

  <meta property="og:title" content="Agigen - Agile Generation AB">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Agigen.se">
  <meta property="og:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">
  <meta property="og:url" content="http://agigen.se">
  <meta property="fb:admins" content="562883652,1205209891">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@agigen">
  <meta name="twitter:creator" content="@lendai">
  <meta name="twitter:title" content="Agigen - Agile Generation AB">
  <meta name="twitter:description" content="Agigen - We make the web a better place. A digital web production agency in Stockholm, Sweden.">


  <link rel="dns-prefetch" href="//ajax.googleapis.com">


  <script type="text/javascript" src="//use.typekit.net/orr5jqv.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body
class="
page--work

  page--page
  page--worklist
  page--worklist--work

">
<!-- 

                      `://.
                    `+AAAAAo.
                  `+AAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
          `+AAAAAAAAAs/sAAAAAAAAAAAAAo.
        `+AAAAAAAAAA+`  -oAAAAAAAAAAAAAo.
      `+AAAAAAAAAAA+      .+AAAAAAAAAAAAAo.
    `+AAAAAAAAAAAA/         .+AAAAAAAAAAAAAo.
  `+AAAAAAAAAAAAA/            .+AAAAAAAAAAAAAo.
 +AAAAAAAAAAAAAA/               -sAAAAAAAAAAAAAo`
.AAAAAAAAAAAAAA+                 `+AAAAAAAAAAAAA/
 /AAAAAAAAAAAAs`       `-/+agigen:`:AAAAAAAAAAAo`
  `/AAAAAAAAAA.    .:+AAAAAAAAAAAAA+/AAAAAAAAo.
    `/AAAAAAAo.-/oAAAAAAAAAAAAAAAAAAAAAAAAAo.
      `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
        `/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAo.
          `/AAAAAAAAAAAAAAAAAAAAAAAAAo.
            `+AAAAAAAAAAAAAAAAAAAAAo.
              `+AAAAAAAAAAAAAAAAAo.
                `+AAAAAAAAAAAAAo.
                  `+AAAAAAAAAo.
                    `+AAAAAo.
                      `-::`
-->



<nav class="main-menu" ng-class="{'main-menu--expanded': menuVisible}" ng-click="hideMenu($event)">
    <section class="main-menu__grid">
        <ul class="nav nav--stacked">
            
            
                
                <li>
                    <a class="main-menu__link main-menu__link--main" href="/">Home</a>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Services</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/services/web-production" class="main-menu__link main-menu__link--sublink main-menu__link--webprod"> Web Production </a>
                        </li>
                    
                        <li>
                        <a href="/services/product-development" class="main-menu__link main-menu__link--sublink main-menu__link--proddev"> Product development </a>
                        </li>
                    
                        <li>
                        <a href="/services/labs" class="main-menu__link main-menu__link--sublink main-menu__link--labs"> Agigen Labs </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Learn more</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/work/" class="main-menu__link main-menu__link--sublink main-menu__link--cases"> Previous work </a>
                        </li>
                    
                        <li>
                        <a href="/about/" class="main-menu__link main-menu__link--sublink main-menu__link--aboutus"> About us </a>
                        </li>
                    
                        <li>
                        <a href="/blog/" class="main-menu__link main-menu__link--sublink main-menu__link--blog"> Our diary </a>
                        </li>
                    
                    </ul>
                
                </li>
            
                
                <li class="sub-menu">
                    <span class="main-menu__section-name">Get in touch</span>
                    <ul class="sub">
                    
                        <li>
                        <a href="/contact/" class="main-menu__link main-menu__link--sublink main-menu__link--contactus"> Contact us </a>
                        </li>
                    
                    </ul>
                
                </li>
            
        </ul>
    </section>
</nav>

<div class="topbar" ng-class="{'menu-expanded': menuVisible}">
    <div class="container">
        <h1 class="topbar__title"><a href="/" title="Agigen.se">

            <svg class="color-animation" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                <path  fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                    C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
            </svg>

        </a></h1>

        
        
        


        <button class="topbar__menu-button" ng-click="menuVisible = !menuVisible" ng-class="{'topbar__menu-button--active': menuVisible}">

            <div class="topbar__menu-button__inner"></div>
            <span class="accessibility">Menu</span>

        </button>


    </div>
</div>


<h1 class="accessibility">Our work</h1>
<header class="main-header main-header--work">
    <div class="main-header__content">
        <div class="container">
            <h3 class="epsilon">Featured case</h3>
            <h2 class="alpha">Build with Chrome</h2>
            <p class="delta text-wrapper">Google teamed up with Warner Bros and LEGO to showcase the LEGO Movie and the WebGL capacities in Chrome.</p>

            <a href="/work/build-with-chrome/" class="btn">View case study</a>
            <a href="https://www.buildwithchrome.com/" target="_blank" class="btn">Visit website</a>
        </div>
    </div>
</header>
<div class="main-content">

<section class="section">
    <div class="section__content">
        <div class="container ">
            <p class="beta text--center">Our work have recieved some amazing awards.</p>
            <div class="grid text--center">
                <div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">7</h3>
                        <h4 class="award__title">
                            <span>Awwwards</span>
                            <img src="/img/work/awards-awwwards.png">
                        </h4>
                    </article>
                </div><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">13</h3>
                        <h4 class="award__title">
                            <span>FWA</span>
                            <img src="/img/work/awards-fwa.png">
                        </h4>
                    </article>
                </div><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">2</h3>
                        <h4 class="award__title">
                            <span>Webby awards</span>
                            <img src="/img/work/awards-webby.png">
                        </h4>
                    </article>
                </div><div class="grid__item one-quarter">
                    <article class="award">
                        <h3 class="award__number count-up">3</h3>
                        <h4 class="award__title">
                            <span>Cannes Lions</span>
                            <img src="/img/work/awards-cannes.png">
                        </h4>
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="case case--list case--list--samsung fade-in-container animate--in-view">
    <div class="container">
        <h3 class="case--list__subtitle">Youneedtoseethisapp.com</h3>
        <h2 class="case--list__title">Samsung Tab S</h2>
        <p class="case--list__text lap-and-up-one-half">Search for details hidden in gigapixel photos of Stockholm, Helsinki, Copenhagen and Oslo.</p>

        <a href="/work/samsung-youneedtoseethis/" class="btn btn--nomargin--left">Read case study</a>
        <a href="https://www.youneedtoseethisapp.com" target="_blank" class="btn">Visit website</a>

        <img src="/img/work/samsung-tablet.png" class="case--list--samsung__illustration case--list__illustration case--list__illustration--from-right animate--in-view">
    </div>
</section>

<section class="case case--list case--list--sj fade-in-container animate--in-view">
    <div class="container">
        <img src="/img/work/sj-screen.png" class="case--list--sj__illustration case--list__illustration animate--in-view">

        <div class="grid">
            <div class="grid__item push--lap-and-up-one-half lap-and-up-one-half">
                <h3 class="case--list__subtitle">Swedish railways</h3>
                <h2 class="case--list__title">Beta SJ.SE</h2>
                <p class="case--list__text">Together with POND we've helped develop the first concept of what will come to be the new web for SJ.se</p>

                <a href="/work/beta-sj-se/" class="btn btn--nomargin--left">Read case study</a>
                <a href="http://beta.sj.se" target="_blank" class="btn">Visit website</a>
            </div>
        </div>
    </div>
</section>

<section class="case case--list case--list--carlsberg fade-in-container animate--in-view">
    <div class="container text--center">
        <h3 class="case--list__subtitle">Carlsberg</h3>
        <h2 class="case--list__title">Where's the party</h2>
        <div class="text-wrapper">
            <p class="case--list__text">Together with North Kingdom, we created Carlsberg’s Where’s the Party 2013 campaign, featuring Axwell of Swedish House Mafia fame.</p>
            <a href="/work/carlsberg-where-is-the-party/" class="btn btn--nomargin--left">Read case study</a>
        </div>
    </div>
</section>

<section class="case case--list case--list--billogram fade-in-container animate--in-view">
    <div class="container">
        <div class="grid">
            <div class="grid__item lap-and-up-one-half illustration-wrapper">
                <img src="/img/work/billogram.png" class="case--list--billogram__illustration case--list__illustration animate--in-view">
            </div><div class="grid__item lap-and-up-one-half">
                <h3 class="case--list__subtitle">Invoicing in the cloud</h3>
                <h2 class="case--list__title">Billogram</h2>
                <p class="case--list__text">We helped turn Billogram's online invoicing service idea into reality.</p>
                <a href="/work/billogram" class="btn btn--nomargin--left">Read case study</a>
                <a href="https://billogram.com" target="_blank" class="btn">Visit website</a>
            </div>
        </div>
    </div>
</section>




<section class="archives">
    <div class="container">
        <div class="text--center">
            <h2 class="epsilon">Archives</h2>
            <h3 class="beta">Glories of the past</h3>
        </div>

        <div class="grid"><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Kuratorskonventet
                            
                        </h3>
                        <h2 class="archive-case__title">Uppsalastudent.com</h2>


                        
                            <a href="http://agigen.se/work/uppsalastudent/" class="btn">View case study</a>
                        

                        
                            <a href="https://uppsalastudent.com" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #ce7800"></div>
                    <img src="/img/work/small/uppsalastudent.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Case
                            
                        </h3>
                        <h2 class="archive-case__title">Yogobe</h2>


                        
                            <a href="http://agigen.se/work/yogobe/" class="btn">View case study</a>
                        

                        
                            <a href="http://yogobe.com" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #70b6e6"></div>
                    <img src="/img/work/small/yogobe.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Hostelling International
                            
                        </h3>
                        <h2 class="archive-case__title">Big Blog Exchange</h2>


                        
                            <a href="http://agigen.se/work/big-blog-exchange/" class="btn">View case study</a>
                        

                        
                            <a href="http://www.bigblogexchange.org/" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #862c94"></div>
                    <img src="/img/work/small/bigblog.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Only
                            
                        </h3>
                        <h2 class="archive-case__title">The liberation</h2>


                        
                        

                        
                            <a href="http://onlybecausewecan.com/" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #7da7d9"></div>
                    <img src="/img/work/small/only.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                MiniCooper
                            
                        </h3>
                        <h2 class="archive-case__title">Mini Getaway</h2>


                        
                            <a href="http://agigen.se/work/mini-getaway/" class="btn">View case study</a>
                        

                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #4f5660"></div>
                    <img src="/img/work/small/mini.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                A journey through middle-earth
                            
                        </h3>
                        <h2 class="archive-case__title">The Hobbit 2</h2>


                        
                            <a href="http://agigen.se/work/thehobbit-a-journey/" class="btn">View case study</a>
                        

                        
                            <a href="http://middle-earth.thehobbit.com/" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #113b60"></div>
                    <img src="/img/work/small/hobbit.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Case
                            
                        </h3>
                        <h2 class="archive-case__title">McDonalds Go&amp;Get</h2>


                        
                            <a href="http://agigen.se/work/mcdonalds-go-and-get/" class="btn">View case study</a>
                        

                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #eeb23e"></div>
                    <img src="/img/work/small/mcwrap.jpg" class="archive-case__image">
                </article>
            </div><div class="grid__item lap-and-up-one-half">

                <article class="archive-case">

                    <div class="archive-case__content">
                        <h3 class="archive-case__tagline">
                            
                                Networked society
                            
                        </h3>
                        <h2 class="archive-case__title">Ericsson City Index</h2>


                        
                            <a href="http://agigen.se/work/ericsson-city-index/" class="btn">View case study</a>
                        

                        
                            <a href="http://www.ericsson.com/thinkingahead/networked_society/city-life/city-index/" class="btn" target="_blank">Visit website</a>
                        

                    </div>

                    <div class="archive-case__hilight" style="background-color: #000066"></div>
                    <img src="/img/work/small/ericsson.jpg" class="archive-case__image">
                </article>
            </div></div>
    </div>
</section>










</div>
<footer class="main-footer">
    <div class="container">
        <h1 class="main-footer__title">
            <a href="/" title="Agigen">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 244.8 190.6" enable-background="new 0 0 244.8 190.6" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1,3.8C105.7,15.2,219.5,105.1,240,185.9c-69.6-117.8-200.3,13.7-233.3,0
                        C-9.8,181.3,80.7-1.3,92.1,3.8z"></path>
                </svg>
            </a>
        </h1>
    </div>

    <nav class="main-footer__links">
        <a href="https://www.facebook.com/agigen" target="_blank" class="main-footer__link">Facebook</a>
        <a href="https://www.linkedin.com/company/640656" target="_blank" class="main-footer__link">LinkedIn</a>
        <a href="/contact" class="main-footer__link main-footer__link--bordered">Contact us</a>
    </nav>
</footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//agigen-slack-chat.appspot.com/_ah/channel/jsapi"></script>
    <script src="//agigen-slack-chat.appspot.com/static/chat.js"></script>
    <script src="//www.youtube.com/iframe_api"></script>
    <script src="/js/agigen.jquery-in-view.js"></script>
    <script src="/js/agigen.js"></script>
    </body>
</html>

